body{background-color:lightblue}
h1 {text:bold; color:yellow}
p {color:red;}
h1.error{
	color:grey;
}

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

img {
	width:600px;
	height:300px;
}